@import '../../styles/variables.scss';

.checkout-page-wrapper {
  min-height: calc(100vh - 211px - 58px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

.checkout-container {
  max-width: 900px;
  width: 100%;
  background: $white;
  padding: 25px 30px;

  & .checkout-title {
    font-size: 25px;
    font-weight: 500;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 30px;
      background: $black;
    }
  }
  & .required-title {
    color: #606060;
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
  }

  & .checkout-form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

    & .input-box {
      margin-bottom: 10px;
      width: calc(100% / 2 - 20px);

      &:last-child {
        width: calc(100%);
      }

      & .details {
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
      }

      & input {
        height: 45px;
        width: 100%;
        outline: none;
        border: 1px solid $grey;
        border-radius: 5px;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 3px;
        transition: all 0.3s ease;

        &:focus {
          border-color: $black;
        }
      }
    }
  }

  .type-container {
    border: 2px solid $grey;
    margin: 20px 0 12px 0;
    padding: 20px;
    padding-left: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-width: 5px;

    & .type-icon {
      font-size: 20px;
      color: $black;
    }
    & span {
      margin-left: 10px;
      font-size: 15px;
      letter-spacing: 1px;
      color: $black;
    }
  }

  .payment-container {
    border: 2px solid $grey;
    margin: 20px 0 12px 0;
    padding: 20px;
    padding-left: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border-bottom-width: 5px;

    & p {
      font-size: 15px;
      color: $black;
    }

    & .payment-icon-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px;

      & .payment-icon {
        font-size: 20px;
        color: $black;
      }

      & span {
        margin-left: 10px;
        color: $black;
      }
    }
  }
}

.summary-container {
  margin: 20px 0 12px 0;

  & table {
    width: 100%;
    border-collapse: collapse;

    & p {
      font-size: 15px;
      color: $black;
    }

    & th {
      text-align: left;
      padding: 5px;
      color: $white;
      background: $black;
      font-weight: normal;
      &:last-child {
        text-align: right;
      }
    }

    & td {
      padding: 10px 5px;
      &:last-child {
        text-align: right;
      }

      & input {
        width: 40px;
        height: 30px;
        padding: 5px;
      }

      & .remove-cta {
        color: $black;
        text-decoration: underline;
        font-size: 12px;

        &:hover {
          cursor: pointer;
        }
      }

      & img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
      }
    }

    & .cart-info {
      display: flex;
      //   flex-wrap: wrap;
      align-items: center;
    }
  }

  .total-price {
    display: flex;
    justify-content: flex-end;

    & table {
      border-top: 3px solid $black;
      width: 100%;
      max-width: 350px;

      & td:last-child {
        text-align: right;
      }
    }
  }
}

.c-btn-container {
  background: $black;
  color: $white;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 584px) {
  .checkout-container {
    max-width: 100%;

    & .checkout-form .user-details {
      & .input-box {
        margin-bottom: 15px;
        width: 100%;
      }
    }
  }
}
