.order-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border: 2px solid black;
  height: 90vh;

  & .detail-card {
    border: 2px solid black;
    padding: 30px;
    border-radius: 10px;
    border-bottom-width: 4px;
    & h3 {
      margin-bottom: 10px;
    }
    & p {
      margin-bottom: 10px;
    }
    & .btn-options-container {
      display: flex;
      justify-content: flex-start;

      & .option-btn {
        background: black;
        padding: 10px;
        color: white;
        margin-top: 20px;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}
