@import '../../styles//variables.scss';

.notFoundContainer {
  width: 100%;
  min-height: calc(100vh - 211px - 58px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black;

  & h1 {
    font-size: 160px;
    margin: 0;
    font-weight: 900;
    letter-spacing: 20px;
  }
  & p {
    text-align: center;
  }

  & .cta-btn {
    text-decoration: none;
    background-color: $black;
    color: $white;
    padding: 12px 24px;
    border: 2px solid $black;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.4s;
    margin-top: 2rem;
    border-radius: 50px;
  }
  & .cta-btn:hover {
    background-color: transparent;
    color: $black;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .notFoundContainer {
    & h1 {
      font-size: 100px;
      letter-spacing: 10px;
    }
    & p {
      text-align: center;
    }
  }
}
