@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;700&display=swap');

// Fonts
$Poppins: 'Poppins', sans-serif;
$OpenSans: 'Open Sans', sans-serif;

// Colors
$pink: #ffc0cb;
$light-pink: #ffeff1;
$light-baby-blue: #d5e9fc;
$dark-baby-blue: #a2d2ff;
$white: #fff;
$black: #000;
$royal-blue: #222955;
$grey: #d3d3d3;
$dark-grey: #a9a9a9;
